@using JqueryApp.Models

@model IEnumerable<Employee>
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <input type="button" id="btnAdd" name="btnAdd" value="Add Employee" class="btn btn-default" />
</div>

<div id="dialog" title="Add Employee">

</div>

@*@{Html.RenderAction("_AddEmployee");}*@

<div class="row">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
            </tr>
        }
    </table>
</div>

